* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, red, green, blue);
}

.container-login {
    position: relative;
    width: 850px;
    height: 550px;
    background: yellow;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: seagreen;
    display: flex;
    align-items: center;
    color: red;
    text-align: center;
}

form {
    width: 100%;
}

.container-login h1 {
    font-size: 36px;
    margin: -10px 0;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 13px;
    background: red;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}
